@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.woff') format('woff');
    src: url('../fonts/Shabnam.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Shabnam', Tahoma, sans-serif;
    direction: rtl;
    text-align: right;
}

button.navbar-toggler {
    outline: none;
    border: none;
}

.icon-search:before {
    content: "\e90b";
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #00a680;
}

.navbar-nav {
    padding-right: 10px;
}

.navbar {
    padding: 20px;
    display: none;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
}

.button {
    display: flex;
    align-items: center;
}

.just-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007f62;
}

.togg-icon {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 16px;
}

.row-icon {
    width: 100%;
    height: 11%;
    border-radius: 2px;
    background-color: #00a680;
}

.nav-link {
    font-size: .9rem;
    font-weight: bold;
}

.nature {
    width: 72px;
    height: 72px;
}

.slide-title {
    font-size: 30px;
    color: #007f62;
    font-weight: bold;
}

.title-border {
    width: 70px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #00a680;
    display: inline-block;
    margin: 17px 0 24px;
}

.slide-container {
    margin: 29px 30px 0;
}

.selectors {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.selector-content {
    width: 17%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.select1 {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 12px;
    border-radius: 6px;
    background-color: #ff7043;
}

.select2 {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #bdbdbd;
}

.select3 {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #bdbdbd;
}

.slide-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
}

.features {
    width: 100%;
    background-image: url('../assets/011_bg_wave.svg');
    height: 152px;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
}

.just-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 192px;
    background-image: url('../assets/009_logo_Bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.woman {
    position: absolute;
    top: -22px;
    left: 20px;
    width: 239px;
    height: 350px;
    z-index: 1;
}

.slide-content {
    position: relative;
    height: 300px;
    background-image: url('../assets/002_slide1_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.balloon2 {
    position: absolute;
    width: 7%;
    top: 80px;
    right: 34px;
}

.balloon1 {
    position: absolute;
    width: 9%;
    right: 100px;
    top: 30px;
}

.balloon3 {
    position: absolute;
    width: 7%;
    top: 0;
    left: 8px;
}

.feature-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: 1px solid #00a680;
}

.feature-options {
    margin-top: -55px;
    margin-bottom: 30px;
}

.feature-option {
    cursor: pointer;
}

.feature-option:hover {
    background-color: #f46739;
    border-color: #f46739;
    color: white;
}

.feature-option:hover .icon:before {
    color: white
}

.phone-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 61px;
}

.phone-container img {
    display: block;
    width: 100%;
}

.phone-text {
    width: 100%;
    margin-bottom: 46px;
}

.phone-title {
    text-align: center;
    font-size: 30px;
    color: #007f62;
    letter-spacing: -0.75px;
    margin-bottom: 31px;
}

.phone-par {
    font-size: 16px;
    font-weight: 300;
}